#integrantes article {
    margin: auto;
}

.div-person-img {
    display: block;
    width: 180px;
    margin: auto;
}

.individual p {
    margin: 0 5vw;
}

.person-img {
    border: 5px solid grey;
    border-radius: 8px;
    margin: auto;
}

.redes {
    margin-top: 15px;
}

@media(min-width: 768px) {
    .general {
        margin: 0 45px;
        align-items: center;
    }
    .integrante {
        display: flex;
        flex-direction: row;
        margin: 20vh 0;
    }
    .integrante-r {
        display: flex;
        flex-direction: row-reverse;
        margin: 20vh 0;
    }
    .integrante.div-person-img img {
        width: 205px;
        margin-left: 3vw;
    }
    .integrante-r.div-person-img img {
        width: 205px;
        margin-right: 3vw;
    }
    .div-person-img {
        padding-right: 0;
        width: 205px;
        margin-left: 20px;
    }
    .individual {
        width: 600px;
        height: 210px;
        display: flex;
        flex-flow: column;
        position: relative;
        margin-right: 5vw;
        flex-grow: 2;
        padding: auto 0;
        text-align: left;
    }
    .individual.descripcion {
        justify-items: left;
    }
}

@media (min-width:1200px) {
    .div-person-img img {
        width: 278px;
        margin-left: 0;
    }
    .div-person-img {
        padding-right: 0;
        width: 278px;
    }
    .integrante {
        margin-bottom: 45px;
    }
    .individual {
        border: 2 px solid black;
    }
    .integrante.individual.descripcion {
        font-size: 30px;
    }
    .redes {
        flex-shrink: 1;
        padding: 0;
        width: 150px;
        margin: auto;
        margin-top: 15px;
    }
}