body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.container{
    border: 1px solid black;
}

#nom-group{
    margin-top: 30px;
   
}

#text-footer{
    margin-top: 25px;


}